* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #111111;
  color: #111111; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }

button {
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  border: none;
    border-radius: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent; }

input, textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: rgba(26, 26, 26, 0.5);
  font-size: 16px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(26, 26, 26, 0.5); }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: rgba(26, 26, 26, 0.5); }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: rgba(26, 26, 26, 0.5); }
  input::placeholder, textarea::placeholder {
    color: rgba(26, 26, 26, 0.5); }
  input:valid, input:invalid, textarea:valid, textarea:invalid {
    color: #1A1A1A; }
  input:required:valid, input:required:invalid, textarea:required:valid, textarea:required:invalid {
    color: #1A1A1A; }

input {
  padding: 0 0 30px;
  border-bottom: 2px solid #DADADA; }

label {
  display: block; }

.form-search {
  max-width: 484px;
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0 auto;
  cursor: pointer; }
  .form-search label {
    width: 100%;
    height: 100%; }
  .form-search input {
    font-weight: 500;
    border: none;
    height: 100%;
    padding: 0 58px 0 40px;
    color: #4A4A4A;
    background: transparent; }
    .form-search input::-webkit-input-placeholder {
      color: #4A4A4A; }
    .form-search input::-moz-placeholder {
      color: #4A4A4A; }
    .form-search input::-ms-input-placeholder {
      color: #4A4A4A; }
    .form-search input::placeholder {
      color: #4A4A4A; }
  .form-search button {
    position: absolute;
    min-width: 17px;
    width: 17px;
    height: 17px;
    z-index: 1;
    right: 40px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .form-search button .text {
      display: none; }
  .form-search:hover input, .form-search:focus input {
    background: #fff; }
  .form-search:hover button svg path, .form-search:hover button svg circle, .form-search:focus button svg path, .form-search:focus button svg circle {
    stroke: #db3217; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 100%;
  padding: 0 10px; }
  .btn .icon {
    margin: 0 15px 0 0;
    width: 22px;
    height: 22px;
    min-width: 22px; }

.btn-accent {
  background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
  background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535;
  color: #fff;
  font-size: 18px;
  height: 80px;
  font-weight: bold; }
  .btn-accent:hover {
    background: #464646;
    color: #fff; }

.btn-black {
  background: #111111;
  font-weight: 600;
  color: #fff;
  font-size: 16px; }
  .btn-black:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535; }

.btn-border {
  border: 2px solid #1C1C1C;
  color: #111;
  font-weight: 600;
  font-size: 16px; }
  .btn-border:hover {
    background: #111;
    color: #fff; }

.btn-white {
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #111;
  height: 60px; }

.container {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.logo {
  max-width: 302px;
  width: 100%;
  margin: 0 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-right {
  text-align: right; }

.bg-white {
  background: #fff; }

.wrapper.fixed {
  padding: 80px 0 0; }

h1 {
  font-size: 60px;
  font-weight: bold; }

h2 {
  font-size: 70px;
  font-weight: 900;
  width: 100%; }

.line-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .line-title h2 {
    width: auto; }

.description-title {
  font-size: 25px;
  font-weight: bold;
  width: 100%; }

header {
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), to(#111111)), #14141B;
  background: linear-gradient(0deg, #111111, #111111), #14141B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative; }

.header-item {
  border-left: 1px solid #272727;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%; }

.menu-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-right: 1px solid #272727; }
  .menu-item:last-child {
    border: none; }

.menu-links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 40px;
  height: 100%;
  width: 100%;
  font-weight: bold;
  white-space: nowrap;
  position: relative; }
  .menu-links:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .menu-links .icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
    margin: 0 15px 0 0; }
  .menu-links:hover:before, .menu-links:focus:before {
    width: 100%; }

.menu-links__selection .icon {
  width: 22px;
  height: 20px;
  min-width: 22px; }

.phone {
  padding: 0 40px;
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  white-space: nowrap; }

.links-call {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
  font-weight: bold;
  position: relative; }
  .links-call:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535; }
  .links-call:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535; }

.main-home {
  position: relative;
  background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover;
  color: #fff; }
  .main-home .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-home .text-box {
    margin: 50px 0;
    font-size: 18px;
    font-weight: 500;
    max-width: 420px;
    width: 100%; }
  .main-home .btn {
    max-width: 343px; }
  .main-home .links {
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 0; }

.main-home__slide {
  width: 100%;
  padding: 175px 0 166px;
  position: relative;
  min-height: 922px; }

.slick-slide {
  outline: none; }

.slide-img {
  position: absolute;
  right: 20px;
  top: -56px;
  width: 100%;
  max-width: 1547px; }

.main-home__title {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase; }

.main-home__description {
  font-size: 60px;
  font-weight: bold;
  margin: 20px 0 0;
  max-width: 620px;
  width: 100%; }

.links-details__slide {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 0 54px 0 0; }
  .links-details__slide:before {
    content: '';
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    position: absolute;
    width: 24px;
    height: 55px;
    background: url("../img/mouse.svg") no-repeat center;
      background-size: contain; }
  .links-details__slide:hover {
    color: #db3217; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .links .icon {
    margin: 0 15px 0 0;
    width: 22px;
    height: 22px;
    min-width: 22px; }
  .links:hover {
    color: #db3217; }

.color-white {
  color: #fff; }

.w-100 {
  width: 100%; }

.main-home__subtitle {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 99.9%; }

.clarification-slide {
  background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
  background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535;
  padding: 9px 20px;
  line-height: 22px;
  font-size: 18px;
  font-weight: bold; }

.advantages {
  position: relative;
  z-index: 1;
  margin: -70px 0 110px; }

.advantages-text {
  max-width: 736px;
  width: 100%;
  margin: 0 auto 100px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  line-height: 164%; }
  .advantages-text strong {
    font-weight: bold;
    display: block; }

.advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.advantages-box {
  background: #181818;
  width: calc(33.2% - 5px);
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px 60px;
  color: #8B8B8B;
  font-weight: 500;
  text-align: center; }
  .advantages-box h3 {
    margin: 50px auto 20px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    line-height: 120%; }
  .advantages-box p {
    line-height: 140%; }

.advantages-box__icon {
  height: 60px; }

.web-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9A9A9A;
  font-size: 20px;
  font-weight: bold;
  margin: 16px 0 0; }

footer {
  padding: 110px 0 170px;
  color: #fff; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

.logo-developer {
  display: inline-block;
  margin: 0 0 0 8px; }

.copyright {
  font-size: 20px;
  font-weight: 500; }

.phone-footer {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #fff; }

.phone-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .phone-group a:first-child {
    margin: 0 5px 0 0; }

.phone-min {
  font-size: 20px;
  font-weight: bold;
  color: #fff; }

.category-dropdown {
  position: absolute;
  z-index: 8;
  top: 80px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  display: none; }

.category-dropdown__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.category-dropdown__item {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #7B7B7B;
  font-weight: 500;
  padding: 0 0 24px;
  border-right: 1px solid #F1F3F2; }
  .category-dropdown__item:last-child {
    border: none; }
  .category-dropdown__item .btn {
    max-width: 188px;
    margin: 40px 0 0; }

.category-dropdown__img {
  max-width: 296px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.category-dropdown__content {
  width: calc(100% - 296px);
  padding: 0 30px; }

.category-dropdown__item-title {
  color: #111111;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px; }

.overlay {
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.trading {
  padding: 150px 0;
  background: #FAFAFA; }
  .trading .description-title {
    margin: 33px auto 69px; }
  .trading .list-cube {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    font-weight: bold; }
    .trading .list-cube li {
      margin: 0 48px 30px 0; }
      .trading .list-cube li:last-child {
        margin-right: 0; }

.list-cube li {
  position: relative;
  padding: 0 0 0 23px; }
  .list-cube li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535;
    width: 8px;
    height: 8px; }

.trading-links {
  width: 100%;
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.trading-link {
  padding: 20px 35px;
  border: 2px solid #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0 30px 0 0;
  width: auto; }
  .trading-link:last-child {
    margin: 0; }
  .trading-link:hover {
    background: #111111;
    color: #fff; }

.about {
  position: relative;
  padding: 133px 0 270px;
  background: url("../img/bg2.jpg") no-repeat center;
    background-size: cover; }
  .about .text {
    margin: 60px 0;
    font-size: 25px;
    font-weight: 500; }
    .about .text p {
      margin: 0 0 20px; }
      .about .text p:last-child {
        margin: 0; }

.date-about {
  background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
  background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 32px; }

.about-content {
  max-width: 749px;
  width: 100%; }

.catalog-home {
  padding: 90px 0 0; }
  .catalog-home h2 {
    margin: 0 auto 0 0; }
  .catalog-home .line-title .btn {
    max-width: 217px;
    margin: 0 0 0 30px; }
  .catalog-home .line {
    width: 2px;
    color: #F1F3F2;
    margin: 0 30px; }

.line-bottom {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.links-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  font-weight: 600; }
  .links-catalog .icon {
    width: 22px;
    height: 20px;
    margin: 0 15px 0 0;
    min-width: 22px; }
    .links-catalog .icon path {
      fill: #111; }

.links-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  font-weight: 600; }
  .links-pdf .icon {
    width: 22px;
    height: 20px;
    margin: 0 15px 0 0;
    min-width: 22px; }

.catalog-home__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 105px 0 0;
  border-top: 2px solid #F1F3F2;
  border-bottom: 2px solid #F1F3F2; }

.catalog-home__box {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
  margin: 0 0 40px;
  border-right: 2px solid #F1F3F2; }
  .catalog-home__box:last-child {
    border: none; }
  .catalog-home__box .btn {
    max-width: 188px;
    margin: auto auto 0; }

.catalog-home__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.catalog-home__title {
  font-size: 25px;
  font-weight: bold;
  color: #111111; }

.catalog-home__body {
  padding: 50px;
  text-align: center; }
  .catalog-home__body p {
    margin: 25px 0; }
  .catalog-home__body span {
    color: #7B7B7B; }

.modal__div {
  position: fixed;
  max-width: 865px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }

.modal__wrapper {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 4px solid #DB3217; }
  .modal__close img {
    width: 15px; }

.modal-title {
  width: 100%;
  margin: 0 0 60px;
  font-size: 25px;
  font-weight: bold; }

.form label {
  margin: 0 0 30px; }

.form input {
  border: none;
    border-bottom: 2px solid #DADADA;
  padding: 32px 0;
  font-weight: 600;
  font-size: 18px; }
  .form input:valid, .form input:invalid {
    color: #1A1A1A; }

.form .checkbox {
  margin: 60px 0 23px; }

.form button {
  max-width: 339px;
  height: 70px; }

.form-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.necessarily {
  margin: 0 0 0 30px;
  font-weight: 500;
  max-width: 321px;
  width: 100%; }

.input-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 14px;
  font-weight: 500; }

sup {
  background: #1A1A1A; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #111111;
  font-size: 16px;
  font-weight: 500; }
  .checkbox .checkbox-inp {
    display: none; }
  .checkbox .checkbox-custom {
    position: relative;
    min-width: 19px;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    background: #F5F5F5;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 21px 0 0; }
  .checkbox .label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
  .checkbox .checkbox-inp:checked + .checkbox-custom {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535; }
    .checkbox .checkbox-inp:checked + .checkbox-custom::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 10px;
      height: 7px;
      background: url("../img/checkbox.svg") no-repeat center;
        background-size: contain; }

.radio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  position: relative; }
  .radio .radio-inp {
    display: none; }
  .radio .radio-custom {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border: 2px solid #F1F3F2; }
  .radio .label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    z-index: 1; }
  .radio .radio-inp:checked + .radio-custom {
    border: 2px solid #db3217;
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535; }
    .radio .radio-inp:checked + .radio-custom + .label {
      color: #fff; }

.radio-click {
  color: #fff; }
  .radio-click .radio-custom {
    border: 2px solid #db3217;
    background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
    background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535; }

.form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-group label {
    width: 49%; }

.btn-ok {
  max-width: 95px;
  margin: 70px auto 0; }

#thanks__modal {
  max-width: none;
  margin: 0 auto;
  height: 100%;
  background: #111;
  overflow: hidden; }
  #thanks__modal:before {
    content: '';
    position: absolute;
    background: url("../img/modal-bg1.png") no-repeat center;
      background-size: contain;
    width: 1422px;
    height: 638px;
    right: 0;
    top: 0; }
  #thanks__modal:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1679px;
    height: 710px;
    background: url("../img/modal-bg2.png") no-repeat center;
      background-size: contain; }
  #thanks__modal .modal__wrapper {
    margin: 0 auto;
    height: 100%;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #thanks__modal .modal-title {
    text-align: center;
    margin: 0 auto 28px;
    font-size: 60px;
    font-weight: 800; }
  #thanks__modal .modal__close {
    border: none;
    right: -118px;
    top: -37px; }
    #thanks__modal .modal__close svg path {
      fill: #fff; }

.description-modal {
  text-align: center;
  margin: 0 auto;
  font-weight: 500; }

.thanks__modal-content {
  max-width: 871px;
  width: 100%;
  margin: auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2; }

.form-img {
  margin: 0 auto 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.list-radio {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .list-radio li {
    margin: 0 10px 40px 0; }
    .list-radio li:last-child {
      margin-right: 0; }
  .list-radio label {
    width: auto;
    margin: 0;
    padding: 16px 24px; }

.form-selection__title {
  margin: 0 0 30px;
  font-weight: 600; }
  .form-selection__title sub {
    font-size: 10px;
    display: inline-block;
    vertical-align: top; }

.polzunok-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px; }
  .polzunok-container input {
    padding: 0;
    border: 2px solid #F1F3F2;
    width: 100px;
    height: 49px;
    color: #111111;
    font-size: 14px;
    font-weight: 600;
    text-align: center; }
    .polzunok-container input::-webkit-input-placeholder {
      color: #111111; }
    .polzunok-container input::-moz-placeholder {
      color: #111111; }
    .polzunok-container input::-ms-input-placeholder {
      color: #111111; }
    .polzunok-container input::placeholder {
      color: #111111; }

.polzunok {
  width: calc(100% - 220px);
  margin: 0 auto; }

.polzunok-3, .polzunok-2 {
  width: calc(100% - 110px); }

.ui-slider .ui-slider-range {
  background: -webkit-gradient(linear, left bottom, left top, from(#DB3217), to(#DB3217)), -webkit-gradient(linear, left bottom, left top, from(#F02828), to(#F02828)), #E83535;
  background: linear-gradient(0deg, #DB3217, #DB3217), linear-gradient(0deg, #F02828, #F02828), #E83535;
  border: none; }

.ui-widget.ui-widget-content {
  border: none;
  background: #F1F3F2;
  height: 4px; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  width: 24px;
  height: 24px;
  border: 4px solid #db3217;
    border-radius: 50%;
  background: #FFFFFF;
  top: -10px;
  outline: none;
  cursor: pointer; }

.form-selection button {
  max-width: 134px;
  height: 60px;
  margin: 20px 0 0; }

.contact-popup {
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 8;
  background: #fff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  width: 319px;
  display: none; }

.contact-popup__wrapper {
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 40px 30px 45px; }

.contact-popup__title {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 35px;
  max-width: 192px;
  width: 100%; }

.phone-modal {
  margin: 0 0 15px;
  font-size: 28px;
  font-weight: 300;
  color: #111111; }

.mail-modal {
  color: #000000;
  font-size: 18px; }

.menu-modal li {
  border-bottom: 2px solid #F1F3F2; }
  .menu-modal li:last-child {
    border: none; }
  .menu-modal li a {
    padding: 20px 0;
    color: #000;
    font-size: 18px; }
    .menu-modal li a:hover {
      color: #db3217; }

.btn-search {
  display: none;
  padding: 0 22px; }

.btn-search.click {
  background: #fff; }

.links-call__icon {
  display: none; }

.mobile-fixed__menu {
  width: 100%;
  background: #111;
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 8;
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
  padding: 0 40px; }

.mobile-links {
  padding: 22px 32px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 4px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mobile-links:hover, .mobile-links:focus {
    border-bottom-color: #db3217; }

.mobile-links__icon {
  margin: 0 20px 0 0; }

#search__modal .modal__wrapper {
  margin: 0 0 auto; }

#search__modal .modal-title {
  margin: 0 0 50px;
  font-size: 32px; }

.btn-border-accent {
  color: #db3217;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #db3217; }

.form-search__modal button {
  margin: 0 auto;
  max-width: 260px;
  height: 60px; }
  .form-search__modal button .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 16px;
    min-width: 16px;
    height: 16px; }
  .form-search__modal button svg circle, .form-search__modal button svg path {
    stroke: #db3217; }

.form-search__modal label {
  margin: 0 0 50px; }

.form-search__modal input {
  padding: 0;
  border: none;
  text-align: center;
  color: #000000;
  font-weight: normal;
  font-size: 18px; }
  .form-search__modal input::-webkit-input-placeholder {
    color: #000000; }
  .form-search__modal input::-moz-placeholder {
    color: #000000; }
  .form-search__modal input::-ms-input-placeholder {
    color: #000000; }
  .form-search__modal input::placeholder {
    color: #000000; }

#catalog__modal .modal__wrapper {
  margin: auto 0 79px;
  padding: 40px 0; }

#catalog__modal .modal-title {
  padding: 0 60px;
  margin: 0 0 44px;
  font-size: 32px; }

#catalog__modal .btn {
  margin: 40px auto 0;
  max-width: 343px;
  height: 62px; }

.breadcrumbs-wrapper {
  width: 100%;
  padding: 60px 0 40px; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .breadcrumbs li a, .breadcrumbs li span {
    font-weight: 500;
    font-size: 16px;
    color: #7B7B7B; }
  .breadcrumbs li a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .breadcrumbs li a:hover {
      color: #db3217; }
    .breadcrumbs li a:after {
      content: '';
      display: inline-block;
      margin: 0 15px;
      width: 20px;
      height: 2px;
      background: #B4B4B4; }

.breadcrumbs-mobile {
  display: none; }

.content-wrapper {
  background: #fff; }

.catalog-level-1 {
  padding: 0 0 80px; }
  .catalog-level-1 .catalog-home__box {
    margin: 0; }
  .catalog-level-1 .catalog-home__wrapper {
    margin: 80px 0 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px) {
  .logo {
    max-width: 264px;
    margin: 0 30px 0 0; }
  .links-call, .phone, .menu-links {
    padding: 0 30px; }
  .form-search input {
    padding: 0 50px 0 20px; }
  .form-search button {
    right: 20px; }
  .links-call {
    white-space: nowrap; }
  .category-dropdown {
    top: 70px; }
  .main-home__title {
    font-size: 80px; }
  .slide-img {
    max-width: 1263px;
    width: 100%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1550px) {
  .category-dropdown__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 0 20px;
    font-size: 14px; }
    .category-dropdown__item .btn {
      display: none; }
  .category-dropdown__content {
    width: 100%;
    padding: 10px 30px;
    text-align: center; }
  .category-dropdown {
    padding: 0; }
  .category-dropdown__img {
    max-width: none;
    max-height: 252px;
    height: 100%;
    overflow: hidden; }
    .category-dropdown__img img {
      width: 100%; }
  .category-dropdown__item-title {
    font-size: 22px; }
  .container {
    padding: 0 90px; }
  .links-details__slide {
    right: 90px; }
  .advantages-text {
    font-size: 24px;
    margin: 0 auto 80px; }
  .advantages {
    margin: -130px auto 80px; } }

@media only screen and (max-width: 1420px) {
  .form-search {
    position: absolute;
    right: 0;
    top: 100%;
    width: 645px;
    max-width: none;
    height: 60px;
    z-index: 2;
    display: none; }
    .form-search input {
      height: 60px;
      background: #fff;
      padding: 0 87px 0 30px; }
    .form-search button {
      right: 30px;
      width: 57px;
      height: 24px; }
      .form-search button svg {
        display: none; }
      .form-search button .text {
        display: block;
        color: #DB3217;
        font-size: 16px;
        font-weight: bold; }
  .header-item {
    position: relative; }
  .btn-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
  footer {
    padding: 111px 0 116px; }
  .contact-popup {
    top: 100px;
    right: 30px; }
  .slide-img {
    right: -96px;
    top: 23px; }
  .trading .list-cube li {
    margin: 0 48px 30px 0; }
  h2 {
    font-size: 60px; }
  .about {
    padding: 150px 0; }
  .about-content {
    max-width: 559px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 1370px) {
  .container {
    padding: 0 90px; }
  header {
    height: 70px; }
  .main-home__description {
    font-size: 40px;
    max-width: none;
    margin: 10px 0 0; } }

@media only screen and (max-width: 1300px) {
  .links-call, .phone, .menu-links {
    padding: 0 22px; }
  .logo {
    margin: 0 22px 0 0; }
  .catalog-home h2 {
    width: 100%;
    margin: 0 0 40px; }
  .catalog-home__wrapper {
    margin: 80px 0 0; }
  .catalog-home__title {
    font-size: 22px; }
  .catalog-home__box {
    font-size: 14px;
    margin: 0;
    padding: 0 0 40px; }
  .catalog-level-1 h2 {
    width: auto;
    margin: 0; } }

@media only screen and (max-width: 1199px) {
  .links-call, .phone, .menu-links {
    font-size: 14px; }
  #thanks__modal .modal__close {
    right: 0;
    top: 0; }
  .advantages-box {
    width: calc(50% - 5px);
    padding: 50px 60px 40px; } }

@media only screen and (max-width: 1100px) {
  .header-item__phone {
    display: none; }
  .main-home__slide {
    padding: 175px 0 196px; }
  .main-home__title {
    font-size: 70px; }
  .main-home__description {
    font-size: 36px; }
  .main-home__subtitle {
    font-size: 70px; }
  .slide-img {
    max-width: 1167px;
    top: 139px;
    right: -111px; }
  .links-details__slide {
    position: relative;
    right: 0;
    margin: 66px 0 0 auto;
    width: 100%;
    text-align: right; }
  .slide-img {
    width: 1167px; }
  .trading {
    padding: 150px 0 130px; }
    .trading .description-title {
      font-size: 22px; }
    .trading .list-cube {
      font-size: 16px; }
  h2 {
    font-size: 54px; }
  .about-content {
    max-width: 481px; }
  .about {
    background: #fff;
    position: relative; }
    .about:before {
      content: '';
      position: absolute;
      top: 150px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: 1436px;
      height: 644px;
      background: url("../img/bg2.jpg") no-repeat center;
        background-size: cover; }
    .about .text {
      font-size: 22px; } }

@media only screen and (max-width: 1010px) {
  .container {
    max-width: none;
    padding: 0 69px; }
  .main-home .btn {
    max-width: 303px;
    height: 82px; } }

@media only screen and (max-width: 992px) {
  .links-call, .phone, .menu-links {
    padding: 0 10px; }
  .list-radio li {
    margin: 0 10px 20px 0; }
    .list-radio li:last-child {
      margin-right: 0; }
  .form-group__selection {
    margin: 0 0 20px; }
  .modal-title {
    margin: 0 0 30px; }
  #thanks__modal .modal-title {
    font-size: 30px; }
  .form-img {
    margin: 0 auto 30px; }
  .slide-img {
    width: 995px;
    top: 90px;
    right: -70px; }
  .main-home__slide {
    min-height: auto; }
  .links-pdf {
    width: 35%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .links-catalog {
    width: 64%;
    padding: 0;
    margin: 0 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .catalog-home {
    padding: 80px 0 0; }
    .catalog-home .line {
      width: 1%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 auto; }
    .catalog-home h2 {
      width: auto; }
    .catalog-home .line-title .btn {
      margin: 0 0 40px; }
  .catalog-home__body {
    padding: 30px; }
  .catalog-level-1 {
    padding: 0 0 60px; }
    .catalog-level-1 .links-pdf {
      width: auto;
      margin: 0; }
    .catalog-level-1 .catalog-home__wrapper {
      margin: 36px 0 0; }
  .breadcrumbs-wrapper {
    padding: 40px 0 20px; } }

@media only screen and (max-width: 860px) {
  .header-item__menu, .header-item__search {
    display: none; }
  .header-item__phone {
    display: block; }
  .header-item {
    border: none; }
  .phone {
    font-size: 16px; }
  .links-call__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 22px;
    height: 22px;
    margin: 0 0 0 24px; }
  .mobile-fixed__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .copyright {
    max-width: 215px;
    width: 100%; }
  footer {
    padding: 100px 0 90px; }
  .web-developer {
    position: absolute;
    left: 69px;
    bottom: 0; }
  .footer-box {
    margin: 0 0 60px; }
  header {
    height: auto; }
  .category-dropdown__wrapper {
    border-bottom: 2px solid #F1F3F2; }
  .category-dropdown__item {
    padding: 0 0 27px; }
  .category-dropdown__img {
    max-height: none;
    height: 212px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .main-home__slide {
    padding: 88px 0 180px; }
  .main-home__title {
    font-size: 65px; }
  .main-home__description {
    font-size: 32px; }
  .main-home .text-box {
    margin: 40px 0 50px; }
  .main-home__subtitle {
    font-size: 50px; }
  .clarification-slide {
    padding: 9px 15px; }
  .links-details__slide {
    padding: 0 77px 0 0;
    margin: 149px 0 35px auto; }
    .links-details__slide:before {
      width: 47px;
      height: 37px;
      background: url("../img/cursor.svg") no-repeat center;
        background-size: contain; }
  .advantages-text {
    margin: 0 auto 60px;
    font-size: 22px;
    padding: 0 60px; }
  .advantages {
    margin: -200px auto 80px; }
    .advantages .container {
      padding: 0; }
  .advantages-box {
    padding: 50px 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left; }
    .advantages-box h3 {
      font-size: 22px;
      margin: 30px 0 20px; }
  .trading {
    padding: 100px 0; }
    .trading .list-cube {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .trading .list-cube li {
        margin: 0 30px 23px 0; }
    .trading .description-title, .trading h2 {
      text-align: left; }
  .container {
    padding: 0 60px; }
  .trading-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .trading-link {
    margin: 0; }
  .about {
    padding: 150px 0 552px; }
    .about:before {
      left: auto;
      right: 0;
      -webkit-transform: none;
              transform: none;
      bottom: 0;
      top: auto; }
  .about-content {
    max-width: 642px; }
  .catalog-level-1 .line-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0 0; }
    .catalog-level-1 .line-bottom .btn {
      max-width: 343px;
      height: 62px;
      font-size: 18px; }
    .catalog-level-1 .line-bottom .links-pdf {
      display: none; } }

@media only screen and (max-width: 710px) {
  .container {
    padding: 0 26px; }
  .web-developer {
    left: 26px; }
  .category-dropdown__item-title {
    font-size: 18px; }
  .category-dropdown__img {
    height: 180px; }
  .main-home__title {
    font-size: 50px; }
  .main-home__description {
    font-size: 28px; } }

@media only screen and (max-width: 650px) {
  .trading-link {
    width: 100%;
    margin: 0 0 10px; } }

@media only screen and (max-width: 630px) {
  .mobile-links {
    padding: 9px;
    font-size: 12px; }
  footer {
    padding: 40px 0 60px; }
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
  .footer-box {
    margin: 0 0 40px; }
    .footer-box:last-child {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      text-align: left; }
    .footer-box:first-child {
      margin: 0; }
  .web-developer {
    position: relative;
    left: 0;
    bottom: 0;
    margin: 20px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .logo-developer {
    margin: 0; }
  .phone-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .phone-footer {
    font-size: 28px; }
  #catalog__modal .modal__wrapper {
    margin: auto 0 52px; }
  .slide-img {
    width: 462px;
    top: 130px;
    right: -38px; }
  .main-home__title {
    font-size: 40px; }
  .main-home__description {
    font-size: 19px; }
  .main-home .text-box {
    margin: 205px 0 30px;
    font-size: 14px; }
  .main-home .btn {
    height: 70px;
    max-width: 265px;
    font-size: 16px; }
  .main-home__subtitle {
    font-size: 46px; }
  .main-home__slide {
    padding: 59px 0 62px; }
  .links-details__slide {
    display: none; }
  .advantages {
    margin: -20px auto 60px; }
  .advantages-box {
    width: 100%;
    padding: 20px 25px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px; }
    .advantages-box h3 {
      margin: 20px 0 10px;
      font-size: 20px; }
  .advantages-text {
    font-size: 16px;
    padding: 0 25px; }
  .about {
    padding: 60px 0 240px; }
    .about:before {
      width: 645px;
      height: 289px; }
    .about .text {
      font-size: 18px;
      margin: 30px 0 35px; }
  .date-about {
    font-size: 24px;
    max-width: 205px; }
  .catalog-home__box {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 17px;
    font-size: 12px;
    border: none;
      border-bottom: 2px solid #F1F3F2; }
    .catalog-home__box .btn {
      display: none; }
  .catalog-home__img {
    width: 159px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .catalog-home__body {
    width: calc(100% - 159px);
    padding: 20px 0 20px 30px;
    text-align: left; }
    .catalog-home__body p {
      display: none; }
  .catalog-home__title {
    font-size: 14px;
    margin: 0 0 10px; }
  .catalog-home__wrapper {
    margin: 58px 0 0; }
  .catalog-home {
    padding: 60px 0 0; }
    .catalog-home .line-title a, .catalog-home .line-title .btn {
      display: none; }
    .catalog-home h2 {
      margin: 0; }
    .catalog-home .line-bottom {
      padding: 30px 26px 22px; }
      .catalog-home .line-bottom .btn {
        margin: 0 0 20px;
        height: 70px;
        font-size: 16px;
        max-width: 268px; }
  .links-pdf {
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    font-size: 16px; }
  .line-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .catalog-level-1 {
    padding: 0 0 60px; }
    .catalog-level-1 .line-bottom {
      padding: 40px 10px 0; }
      .catalog-level-1 .line-bottom .links-pdf {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    .catalog-level-1 .catalog-home__wrapper {
      margin: 42px 0 0; }
  h1 {
    font-size: 32px; } }

@media only screen and (max-width: 575px) {
  .header-item__phone {
    display: none; }
  .category-dropdown__item {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 30px;
    font-size: 12px;
    border: none;
      border-bottom: 2px solid #F1F3F2; }
  .category-dropdown__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: auto;
    width: 159px; }
  .category-dropdown__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: 2px solid #F1F3F2;
    border-bottom: 2px solid #F1F3F2; }
  .category-dropdown__content {
    width: calc(100% - 159px);
    text-align: left;
    padding: 28px 0; }
  .category-dropdown__item-title {
    font-size: 14px;
    margin: 0 0 10px; }
  #catalog__modal .modal-title {
    padding: 0 30px;
    margin: 0 0 39px; }
  #catalog__modal .modal__wrapper {
    padding: 40px 0 30px; }
  #catalog__modal .btn {
    max-width: 260px;
    margin: 30px auto 0;
    font-size: 16px; }
  .polzunok {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px 0 0; }
  #selection__modal .modal__wrapper {
    margin: 0 auto; }
  .form-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .necessarily {
    max-width: none;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 10px;
    text-align: center; }
  .form input {
    padding: 20px 0;
    font-size: 14px; }
  .form-group label {
    width: 100%; }
  h2 {
    font-size: 30px; }
  .trading {
    padding: 100px 0 40px; }
    .trading .description-title {
      margin: 20px 0 40px;
      font-size: 18px; }
  .trading .list-cube {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .trading .list-cube li {
      margin: 0 0 30px; }
  .list-cube li:before {
    top: 10px; }
  .trading-links {
    margin: 10px 0 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .links-call__text {
    display: none; }
  .links-call__icon {
    margin: 0; }
  .logo {
    margin: 0;
    padding: 0 40px 0 0; }
  .modal__wrapper {
    padding: 40px 30px; }
  .mobile-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 6.5px 8.5px;
    font-size: 10px; }
  .mobile-links__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 4px;
    height: 26px; }
  #catalog__modal .modal__wrapper {
    margin: auto 0 60px; }
  #thanks__modal .modal-title {
    font-size: 28px; }
  .btn-ok {
    margin: 40px auto 0; }
  .breadcrumbs {
    display: none; }
  .breadcrumbs-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #111111;
    font-size: 16px;
    font-weight: 500; }
    .breadcrumbs-mobile .icon {
      margin: 0 15px 0 0;
      width: 21px;
      height: 15px; }
  .breadcrumbs-wrapper {
    padding: 42px 0 22px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .contact-popup {
    top: 0;
    right: 0;
    width: 100%; }
  .main-home__title {
    font-size: 28px; } }

@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
